.home_page_main_container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border-radius: 16px;
  height: calc(100vh - 10px);
  background-color: #ffffff;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 2px solid #e6e6e6;
}

.mony_amount_container {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mony_amount_container img {
  width: 25%;
}

.mony_amount_container ul {
  list-style: none;
}

.mony_amount_container ul li:nth-child(1){
  font-size: 20px;
  font-weight: 800;
  color: #151515;
}

.mony_amount_container ul li:nth-child(2) {
  padding-top: 5px;
  color: #08080880;
  font-size: 14px;
}

.log_out_container {
  border: none; 
  color: #08080880;
  padding: 5px 10px;
  font-weight: 500;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #0808081A;
}

.home_page_hero_container {
  margin-top: 50px;
}

.home_hero_title_container h1 {
  color: #080808;
  font-size: 24px;
}

.home_hero_title_container p {
  padding-top: 10px;
  color: #08080880;
}

.home_feture_container {
  gap: 10px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.feture_content_container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #080808B3;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid #0808081A;
}

.feture_content_container ul {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.feture_content_container ul li {
  list-style: none;
  font-size: 14px;
  text-align: center;
}

.feture_content_container:hover {
  color: #0874F2;
  font-weight: 600;
  border: 2px solid #0874F2;
  transition: 0.3s ease-in-out;
}